<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="/css/eventIndex.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
    <header>
        <a href="/" id="homeIcon"><i class="fas fa-home"></i></a>
        <nav>
            <ul>
                <li><a href="/travelAndlodging">TRAVEL & LODGING</a></li>
                <li><a href="/activities">ACTIVITIES</a></li>
                <li><a href="/journal">JOURNAL</a></li>
                <li><a href="/media">MEDIA</a></li>
                <li><a href="/schedule">SCHEDULE</a></li>
                <li><a href="/qAnda">Q&A</a></li>
                <a href="/logout">Logout</a>
            </ul>
        </nav>
    </header>

    <!-- photos -->
    <main>
        <h1>Events</h1>
        <ul>
        <% if (events) { %>
            <% events.forEach( el => { %>
                <li class="eventItem" data-id="<%= el._id %>">
                    <span class="eventItemName"><%= el.eventName %></span>
                    <form 
                        action="/events/editEvent/<%= el._id %>" 
                        method="get"
                    >
                        <button class="btn btn-primary fa fa-edit" type="submit"></button>
                    </form>
                    <form 
                        action="/events/<%= el._id %>" 
                        method="get"
                    >
                        <button class="btn btn-primary fa fa-eye" type="submit"></button>
                    </form>
                    <form 
                        action="/createYourOwnEvent/deleteEvent/<%= el._id %>?_method=DELETE" 
                        method="post"
                    >
                        <button class="btn btn-primary fa fa-trash" type="submit"></button>
                    </form>
                </li>
            <% }) %>
        <% } %>
        </ul>
        <% if (events.length === 0) { %>
        <span>No Events Created</span>
        <% } %>

        <h2>Create An Event</h2>
        <form 
            action="/createYourOwnEvent/createEvent" 
            enctype="multipart/form-data" 
            method="POST"
            id="eventIndexForm"
        >
            <div class="mb-3">
                <label for="eventName" class="form-label">Event Name</label>
                <input type="text" class="form-control" id="eventName" name="eventName">
            </div>
            <br>
            <div class="mb-3">
                <label for="eventSubHeader" class="form-label">Event Sub-Header Name</label>
                <input type="text" class="form-control" id="eventSubHeader" name="eventSubHeader">
            </div>
            <br>
            <span>4 Images Required For Home Page</span>
            <br>
            <br>
            <div class="mb-3">
                <label for="imageUpload" class="form-label">Select Images:</label>
                <input type="file" class="form-control" id="imageUpload" name="files" accept="image/*" multiple>
            </div>
            <br>
            <input type="submit" class="btn btn-primary" id="eventIndexSubmit" value="Submit" disabled />
        </form>

    </main>

    <!-- footer on the left hand-side of the page -->
    <footer>
        <ul>
            <li><a href="/aboutus">About Us</a></li>
            <li><a href="/inspiration">Inspiration</a></li>
            <li><a href="/createYourOwnEvent">Create Your Own Event</a></li>
            <li><a href="/helpAndSupport">Help & Support</a></li>
        </ul>
    </footer>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="js/main.js"></script>
</body>
</html>