<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Journal</title>
    <link rel="stylesheet" type="text/css" href="/css/journal.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
    <header>
        <a href="/events/<%= event.id %>" id="homeIcon"><i class="fas fa-home"></i></a>
        <nav>
            <ul>
                <li><a href="/events/<%= event.id %>/travelAndlodging">TRAVEL & LODGING</a></li>
                <li><a href="/events/<%= event.id %>/activities">ACTIVITIES</a></li>
                <li><a href="/events/<%= event.id %>/journal">JOURNAL</a></li>
                <li><a href="/events/<%= event.id %>/media">MEDIA</a></li>
                <li><a href="/events/<%= event.id %>/schedule">SCHEDULE</a></li>
                <li><a href="/events/<%= event.id %>/qAnda">Q&A</a></li>
            </ul>
        </nav>
    </header>

    <!-- photos -->
    <main>
        <section>
            <h1>Journal</h1>
            <h3>Read and tell your own stories of <%= user.firstName %></h3>
        </section>
        <section class="journal-section">
            <div class="pink-section"></div>
            <div class="green-section"></div>
            <div class="yellow-section-tab">
                <div class="journal-name">Stories and Toasts</div>
            </div>
            <div class="yellow-section">
                <div class="journal-container-without-buttons">
                    <div class="journal-entries">
                        <div class="journal-entry">
                            <h4>When Jon Made Me Laugh Crying</h4>
                            <span>It was the year 1998 and I was chugging Mountain Dew for some reason. 
                                OK, the reason was, I loved Mountain Dew. I often did the Dew.</span>
                        </div>
                        <div class="journal-entry">
                            <h4>Jon Convinced The Pilot To Take The Scenic Route</h4>
                            <span>Right when we boarded the plane Jon made friends with the pilot. 
                                I don't know how he does it, but it's a talent.
                            </span>
                        </div>
                        <div class="journal-entry">
                            <h4>Growing Up With Jon In Cincinatti</h4>
                            <span>I've known Jon for almost 36 years now. Our parents were in a motorcycle 
                                gang. Everyone in town heard them coming down the street.
                            </span>
                        </div>
                        <div class="journal-entry">
                            <h4>Growing Up With Jon In Cincinatti</h4>
                            <span>I've known Jon for almost 36 years now. Our parents were in a motorcycle 
                                gang. Everyone in town heard them coming down the street.
                            </span>
                        </div>
                    </div>
                    <div class="journal-empty-space-container">
                        <div class="journal-empty-space"></div>
                        <div class="journal-empty-space"></div>
                        <div class="journal-empty-space"></div>
                        <div class="journal-empty-space"></div>
                    </div>
                </div>
                <div class="journal-buttons-container">
                    <div class="add-journal-entry-button">+ Add</div>
                    <div class="scroll-journal-button">
                        <i class="fas fa-arrow-down"></i>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <!-- footer on the left hand-side of the page -->
    <footer>
        <ul>
            <li><a href="/aboutus">About Us</a></li>
            <li><a href="/inspiration">Inspiration</a></li>
            <li><a href="/createYourOwnEvent">Create Your Own Event</a></li>
            <li><a href="/helpAndSupport">Help & Support</a></li>
        </ul>
    </footer>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="../../js/main.js"></script>

</body>
</html>