<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Media</title>
    <link rel="stylesheet" type="text/css" href="/css/media.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
    <header>
        <a href="/events/<%= event.id %>" id="homeIcon"><i class="fas fa-home"></i></a>
        <nav>
            <ul>
                <li><a href="/events/<%= event.id %>/travelAndlodging">TRAVEL & LODGING</a></li>
                <li><a href="/events/<%= event.id %>/activities">ACTIVITIES</a></li>
                <li><a href="/events/<%= event.id %>/journal">JOURNAL</a></li>
                <li><a href="/events/<%= event.id %>/media">MEDIA</a></li>
                <li><a href="/events/<%= event.id %>/schedule">SCHEDULE</a></li>
                <li><a href="/events/<%= event.id %>/qAnda">Q&A</a></li>
            </ul>
        </nav>
    </header>

    <!-- photos -->
    <main>
        <section>
            <h1>Photo + Video Album</h1>
            <h3>View and contribute your own memories of <%= user.firstName %></h3>
        </section>
        <section class="media-section">
            <div class="green-section"></div>
            <div class="yellow-section"></div>
            <div class="pink-section-tab">
                <div class="album-name">Growing Up</div>
            </div>
            <div class="pink-section">
                
                <div id="mediaImages">
                    <div class="media-images">
                        <img src="/imgs/media/1media.png" alt="" class="media-image">
                        <img src="/imgs/media/2media.png" alt="" class="media-image">
                        <img src="/imgs/media/3media.png" alt="" class="media-image">
                        <img src="/imgs/media/4media.png" alt="" class="media-image">
                        <img src="/imgs/media/5media.png" alt="" class="media-image">
                        <img src="/imgs/media/6media.png" alt="" class="media-image">
                        <img src="/imgs/media/7media.png" alt="" class="media-image">
                        <img src="/imgs/media/3media.png" alt="" class="media-image">
                        <img src="/imgs/media/9media.png" alt="" class="media-image">
                        <img src="/imgs/media/10media.png" alt="" class="media-image">
                        <img src="/imgs/media/11media.png" alt="" class="media-image">
                        <img src="/imgs/media/2media.png" alt="" class="media-image">
                        <img src="/imgs/media/5media.png" alt="" class="media-image">
                        <div class="media-anonymous-container">
                            <img src="/imgs/media/12mediaanonymous.png" alt="" class="media-image">
                            <span class="media-anonymous-credit">anonymous</span>
                        </div>
                        <div class="media-anonymous-container">
                            <img src="/imgs/media/13mediaanonymous.png" alt="" class="media-image">
                            <span class="media-anonymous-credit">anonymous</span>
                        </div>
                        <div class="media-add-button-container">
                            <button onclick="disableImages()">+ Add</button>
                        </div>
                    </div>
                </div>
                
                <div class="add-image-container disabled" id="addImages">
                    <div class="add-image-container-title">
                        <p>Add to the album "Growing Up"</p>
                    </div>
                    <div class="add-image-white-container">
                        <div class="add-image-white-container-file-name">
                            <p>Files Selected:</p>
                            <div id="media-file-names"></div>
                        </div>
                        <div class="add-image-white-container-image-previews">
                            <div id="image-previews" class="disabled"></div>
                            <div class="add-image-white-container-image-button">
                                <input 
                                    type="file" 
                                    class="form-control" 
                                    id="mediaImagesUpload" 
                                    name="files" 
                                    accept="image/*" 
                                    multiple
                                    onchange="showname()"
                                >
                            </div>
                        </div>
                        <div class="add-image-white-container-checkboxes">
                            <div class="add-image-white-container-checkbox">
                                <label for="addCredit">Add Credit: </label>
                                <input 
                                    class="add-image-checkbox" 
                                    type="checkbox" 
                                    name="addCredit" 
                                    id="addCredit" 
                                    onclick="onlyOne(this)"
                                >
                            </div>
                            <input 
                                type="text" 
                                name="mediaCredit" 
                                id="mediaCredit" 
                                placeholder="Your Name"
                            >
                            <div class="add-image-white-container-checkbox">
                                <label for="anonymous">Anonymous: </label>
                                <input 
                                    class="add-image-checkbox" 
                                    type="checkbox" 
                                    name="anonymous" 
                                    id="anonymous" 
                                    onclick="onlyOne(this)"
                                >
                            </div>
                        </div>
                    </div>
                    <div class="add-image-container-button">
                        <button onclick="enableImages()">UPLOAD</button>
                        <button onclick="enableImages()">CANCEL</button>
                    </div>
                </div>
                
            </div>
        </section>
    </main>

    <!-- footer on the left hand-side of the page -->
    <footer>
        <ul>
            <li><a href="/aboutus">About Us</a></li>
            <li><a href="/inspiration">Inspiration</a></li>
            <li><a href="/createYourOwnEvent">Create Your Own Event</a></li>
            <li><a href="/helpAndSupport">Help & Support</a></li>
        </ul>
    </footer>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="../../js/main.js"></script>

</body>
</html>